# ---------- Secretos (repo PÚBLICO) ----------
.env
.env.*
secrets.*
credenciales*
*.pfx
*.key
*.pem
*.cer
*.pvk

# ---------- SQL Server ----------
*.mdf
*.ldf
*.ndf
*.bak
*.trn
*.dacpac
*.bacpac

# ---------- SSMS / Visual Studio ----------
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.sqlcmdvars
*.log

# ---------- Sistema operativo / editores ----------
.DS_Store
Thumbs.db
.idea/
.vscode/
